<!-- Start Google Sitelinks -->
<script type="application/ld+json">
	{ "@context" : "http://schema.org",
		"@type" : "WebSite",
		"name" : "Gestor de Configuración de Software",
		"url" : "http://kikicarbonell.github.io",
		"sameAs" : [ "http://www.twitter.com/kikicarbonell",
	  				   "http://linkedin.com/in/enrique-carbonell"],
	  	"potentialAction": {
	    	"@type": "SearchAction",
     		"target": "http://query.kikicarbonell.github.io/search?q={search_term_string}",
     		"query-input": "required name=search_term_string"
   		}
	}
</script>
<!-- End Google Sitelinks -->	