<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/computer-screen-152-202631.png">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/computer-screen-144-202631.png">
    
    {% include analytics.html %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h2 class="site-name"><a href="{{ site.baseurl }}">{{ site.name }}</a></h2>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/profile">Profile</a>
          </nav>

        </header>
      </div>
    </div>

 
    <div class="container clearfix">
      
      {% if page.sidebar %}

        <div id="main" role="main" class="content">
          {{ content }}
        </div>

        <div class="sidebar">
          {% include sidebar.html %}
        </div>

      {% else %}

        <div id="main" role="main" class="container">
          {{ content }}
        </div>
        
      {% endif %}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include sitelinks.html %}

    {% include scroll-to-top.html %}
  </body>
</html>